.padding-5{
    padding-right: 2em !important;
    margin-right: 2em !important;
}

.margin{
    margin-left: 75em !important;
}

.create{
    margin-right: 80px !important;
}

.dropdown_user{
    margin-right: 210px;
}

.login_button{
    margin-right: 80px;
}


body{
    background-color: black !important;
}

#epicToast{
    max-width: 300px !important;
    max-height: 100px !important;
}



select#language{
    width: 67px !important;
    font-size: small !important;
    

}
.button_profile {
    font-size: 30px !important;
    margin-top: 50px !important;
}

