.padding-5{
    padding-right: 2em !important;
    margin-right: 2em !important;
}

.margin{
    margin-left: 75em !important;
}

.create{
    margin-right: 10px !important;
}

.dropdown_user{
    margin-right: 180px;
}

.login_button{
    margin-right: 10px;
}


body{
    background-color: black !important;
}

#epicToast{
    max-width: 300px !important;
    max-height: 100px !important;
}

.button_profile {
    font-size: 30px !important;
    margin-top: 50px !important;
}

.color{
    color: black !important;
}
